.all {
   width: 1920px; 
   height: 1080px;
   background-color: #FCCA50;
   position: relative;
   /*水平居中*/
   margin: 0 auto;
}
.top {
    display: flex;
    position: absolute;
    width: 1730px;
    height: 105px;
    background-color: beige;
    margin: 52px 80px auto;
    align-items: center;
    justify-content: space-between;
}
#yunqi {
    display: flex;
    width: 300px;
    height: 90px;
    /*圆角边框*/
    border-radius: 12px;
    background-color: #FCCA50;
    font-size: 40px;
    border: none;
    box-shadow: 3px 3px 8px;
    line-height: 90px;
    align-items: center;
} 

#brandIntroduce,#product-introduce,#PersonalCenter,#popularity {
    width: 238px;
    height: 76px;
    background-color: chocolate;
    font-size: 40px;
    border: none;  
    border-radius: 12px;
}
#PersonalCenter {
    font-weight: 700;
    background-color: #FFB501;
}
#brandIntroduce:hover,#product-introduce:hover,#popularity:hover  {
    background-color: #FFB501;
    font-weight: 700;
}
.sidebar {
    width: 443px;
    height: 245px;
    position: absolute;
    background-color: white;
    margin-top: 235px;
    border-radius: 0 40px 40px 0;
    box-shadow: 3px 3px 12px;
}
.InventoryControl {
    width: 1397px;
    height: 874px;
    position: absolute;
    background-color: white;
    margin-top: 157px;
    margin-left: 480px;
    border-radius: 50px;
    display: flex;
}
.order,.management {
    display: flex;
    width: 430px;
    height: 105px;
    font-size: 36px;
    line-height: 105px; 
    align-items: center;
}
.order {
    margin-top: 17px;
}
.management {
    font-weight: 700;
}
.content {
    width: 1080px;
    height: 720px;
    margin: auto;
    background-color: aqua;
}
.content-top {
    width: 1080px;
    height: 60px;
    display: flex;
    background-color: bisque;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.content-top span {
    display: flex;
    font-size: 15px;
    color: #666666;
    align-items: center;
}

.goods-name,
.telephone-number {
    width: 150px;
}

.content-bottom {
    height: 640px;
    background-color: rgb(166, 166, 222);
    overflow: auto;
}

.food-box {
    margin-top: 6px;
    height: 76px;
    background-color: rgb(87, 240, 132);
    display: flex;
    justify-content: space-between;
}

.a {
    height: 74px;
    background-color: hotpink;
}

.b {
    height: 74px;
    background-color: indianred;
}