.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #FF9901;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    width: 90%;
    height: 10%;
    background-color: transparent;
}

.header-flex>div:nth-child(1) {
    margin-right: -8.8%; 
}

.logo {
    display: flex;
    width: 5%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: 
    #FCCA50
    url(https://sandwich-zhang.oss-cn-beijing.aliyuncs.com/logo.png)no-repeat;
    background-position: left 10px center;
    background-size: 90% 80%;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    font-size: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FCCA50
}

.brand-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    font-size: 30px;
    /* color: white; */
    /* background-color: #707179; */
}

.product-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    font-size: 30px;
    /* color: white; */
    /* background-color: #707179; */
}

.personal-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 80%;
    font-size: 30px;
    border-radius: 20px;
    /* color: white; */
    background-color: #FFB501;
}

.heat-ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 100%;
    font-size: 30px;
    /* color: white; */
    /* background-color: #707179; */
}

.navigation-left {
    display: inline-block;
    vertical-align: top;
    margin-top: 4%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 20%;
    height: 20%;
    background-color: #FFFFFF;
}

.customer-order {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    border-top-right-radius: 40px;
    /* background: lemonchiffon; */
}

.left-logo1 {
    width: 20%;
    height: 100%;
    background: 
    /* lightcoral */
    url(https://sandwich-zhang.oss-cn-beijing.aliyuncs.com/图标-侧边.png)no-repeat;
    background-position: center;
    background-size: 100% 50%;
}

.order-text {
    width: 40%;
    height: 100%;
    background: 
    /* lightcoral */
    url(https://sandwich-zhang.oss-cn-beijing.aliyuncs.com/客户订单.png)no-repeat;
    background-position: center;
    background-size: 100% 40%;
}

.right-logo1 {
    width: 20%;
    height: 100%;
    border-top-right-radius: 40px;
    background: 
    /* lightcoral */
    url(https://sandwich-zhang.oss-cn-beijing.aliyuncs.com/箭头-黑.png)no-repeat;
    background-position: center;
    background-size: 100% 30%;
}

.stock-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    border-bottom-right-radius: 40px;
    /* background: lightblue; */
}

.left-logo2 {
    width: 20%;
    height: 100%;
    background: 
    /* red */
    url(https://sandwich-zhang.oss-cn-beijing.aliyuncs.com/图标-优惠券.png)no-repeat;
    background-position: center;
    background-size: 100% 50%;
}

.stock-text {
    width: 40%;
    height: 100%;
    border: none;
    background: 
    /* red */
    url(https://sandwich-zhang.oss-cn-beijing.aliyuncs.com/库存管理.png)no-repeat;
    background-position: center;
    background-size: 100% 40%;
}

.right-logo2 {
    width: 20%;
    height: 100%;
    border-bottom-right-radius: 40px;
    background: 
    /* red */
    url(https://sandwich-zhang.oss-cn-beijing.aliyuncs.com/箭头-黑.png)no-repeat;
    background-position: center;
    background-size: 100% 30%;;
}

.view {
    display: inline-block;
    margin-top: 0%;
    margin-left: 5.4%;
    border-radius: 26px;
    width: 72%;
    height: 76%;
    background-color: white;
}

.searchHistory {
    margin-top: 1%;
    margin-left: 70%;
    width: 20%;
    height: 5%;
    border-radius: 20px;
    /* background: blanchedalmond; */
}

.orderForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    height: 80%;
    /* background: blueviolet; */
}

.orderHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4%;
    /* background: cadetblue; */
}

.orderBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* background: chartreuse; */
}

.orderId-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background: pink; */
}

.orderUserName-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background: pink; */
}

.orderDetail-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background: pink; */
}

.orderMoney-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background: pink; */
}

.orderId {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background: pink; */
}

.orderUserName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background: pink; */
}

.orderDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background: pink; */
}

.orderMoney {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* background: pink; */
}