@font-face {
  font-family: "iconfont"; /* Project id 4441519 */
  src: url('iconfont.woff2?t=1709190946820') format('woff2'),
       url('iconfont.woff?t=1709190946820') format('woff'),
       url('iconfont.ttf?t=1709190946820') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou2-copy:before {
  content: "\e600";
}

.icon-jiantou-r:before {
  content: "\e602";
}

.icon-yanjing_bi:before {
  content: "\e601";
}

.icon-kaiyanjing:before {
  content: "\e6a7";
}

