* {
  margin: 0;
}
.log-on {
  background-color: #ff9901;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}
.staff {
  width: 503px;
  height: 503px;
  border-radius: 30px;
  position: relative;
  top: 150px;
  background-image: url(https://hl666888999mm.oss-cn-beijing.aliyuncs.com/staff.png);
}
.staff:hover {
  cursor: pointer;
}
.custom {
  width: 503px;
  height: 503px;
  border-radius: 30px;
  position: relative;
  top: 150px;
  background-image: url(https://hl666888999mm.oss-cn-beijing.aliyuncs.com/client.png);
}
.custom:hover {
  cursor: pointer;
}
